<a href="https://colab.research.google.com/github/ananthi25/Git_Practice/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###**Pandas Library**
Pandas is a Python Library used for working with datasets.<br>
It has functions for analyzing, cleaning, exploring and manipulating data

In [1]:
import pandas as pd

In [4]:
iris_df=pd.read_csv("Iris Data.csv")
print(iris_df)
print(type(iris_df))

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]
<class 'pandas.core.frame.DataFrame'>

###**DataFrame**
Pandas Dataframe is a 2-dimensional data structure, like a 2 dimensional array, or a table with rows and columns

In [5]:
data_frame=iris_df.copy()

In [8]:
data_frame.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [16]:
data_frame.tail(3)

     sepal_length  sepal_width  petal_length  petal_width    species
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [12]:
print(data_frame.shape)
print(data_frame.dtypes)

(150, 5)
sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [18]:
#data_frame.species or
data_frame["species"]

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [23]:
print(data_frame.isnull())
data_frame.isnull().sum()

     sepal_length  sepal_width  petal_length  petal_width  species
0           False        False         False        False    False
1           False        False         False        False    False
2           False        False         False        False    False
3           False        False         False        False    False
4           False        False         False        False    False
..            ...          ...           ...          ...      ...
145         False        False         False        False    False
146         False        False         False        False    False
147         False        False         False        False    False
148         False        False         False        False    False
149         False        False         False        False    False

[150 rows x 5 columns]

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

**Slicing in dataframe**

In [25]:
data_frame.iloc[0:2,0:3] #0,1th row & 0,1,2 column

   sepal_length  sepal_width  petal_length
0           5.1          3.5           1.4
1           4.9          3.0           1.4

**Remove Data from Dataframe**

In [31]:
print(data_frame.drop(0))  #here 0 is called as Label
data_frame.head()          #it's restored back.not permanently deleted

     sepal_length  sepal_width  petal_length  petal_width    species
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
5             5.4          3.9           1.7          0.4     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[149 rows x 5 columns]

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [32]:
#To make it in place  you can do the following-2 methods
     #data_frame.drop(0, inplace=True)
     #data_frame.head()  (or)
new_df=data_frame.drop(0)
new_df.head()

   sepal_length  sepal_width  petal_length  petal_width species
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa

In [35]:
print(data_frame.index)
print(new_df.index)
print(new_df.index[0])

RangeIndex(start=0, stop=150, step=1)
Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            140, 141, 142, 143, 144, 145, 146, 147, 148, 149],
           dtype='int64', length=149)
1

In [36]:
new_df.drop(new_df.index[0],inplace=True)    #Using inplace=True
new_df.head()

   sepal_length  sepal_width  petal_length  petal_width species
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa

In [40]:
new_df.petal_width > 0.2

2      False
3      False
4      False
5       True
6       True
       ...
145     True
146     True
147     True
148     True
149     True
Name: petal_width, Length: 148, dtype: bool

In [44]:
#new_df.petal_width>0.2 check true or False
new_df[new_df.petal_width>0.2]   #For print all values

     sepal_length  sepal_width  petal_length  petal_width    species
5             5.4          3.9           1.7          0.4     setosa
6             4.6          3.4           1.4          0.3     setosa
15            5.7          4.4           1.5          0.4     setosa
16            5.4          3.9           1.3          0.4     setosa
17            5.1          3.5           1.4          0.3     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[116 rows x 5 columns]

Describe Method

In [41]:
new_df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    148.000000   148.000000    148.000000   148.000000
mean       5.854730     3.051351      3.790541     1.212162
std        0.827695     0.434950      1.754657     0.759332
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.400000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [45]:
new_df[new_df.petal_width>0.2].describe()

       sepal_length  sepal_width  petal_length  petal_width
count    116.000000   116.000000    116.000000   116.000000
mean       6.105172     2.963793      4.438793     1.496552
std        0.740369     0.419606      1.402406     0.599410
min        4.500000     2.000000      1.300000     0.300000
25%        5.600000     2.700000      4.000000     1.200000
50%        6.100000     3.000000      4.700000     1.500000
75%        6.600000     3.200000      5.400000     1.925000
max        7.900000     4.400000      6.900000     2.500000

In [48]:
new_df[new_df.species=='virginica'].describe()

       sepal_length  sepal_width  petal_length  petal_width
count      50.00000    50.000000     50.000000     50.00000
mean        6.58800     2.974000      5.552000      2.02600
std         0.63588     0.322497      0.551895      0.27465
min         4.90000     2.200000      4.500000      1.40000
25%         6.22500     2.800000      5.100000      1.80000
50%         6.50000     3.000000      5.550000      2.00000
75%         6.90000     3.175000      5.875000      2.30000
max         7.90000     3.800000      6.900000      2.50000

In [53]:
print(new_df.head())
print(new_df.iloc[0])
#print(new_df.loc[0]) #Error-because label--label 0 is not found
print(new_df.loc[3])

   sepal_length  sepal_width  petal_length  petal_width species
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
sepal_length       4.7
sepal_width        3.2
petal_length       1.3
petal_width        0.2
species         setosa
Name: 2, dtype: object
sepal_length       4.6
sepal_width        3.1
petal_length       1.5
petal_width        0.2
species         setosa
Name: 3, dtype: object