<a href="https://colab.research.google.com/github/ananthi25/Git_Practice/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###**Python Basics**

In [ ]:
#First Program
print("Hello World")

Hello World

**Printing in Python**

In [ ]:
#Printing in Python
print('Hi Ananthi')
print(2+1)
print(10*3.5)
print()
print("Hi","My","Name","is","Ananthi",25)  #By default. it takes one space
print("Hi","My","Name","is","Ananthi",sep='_')
print("Hi","My","Name","is","Ananthi",end='@@')
print("Next Line")
print("Hi","My","Name","is","Ananthi",end='\n')
print("Next Line")
print()
print("Hi","My","Name","is","Ananthi",end='@@\n',sep='_')  #single Line
print("Next Line")

Hi Ananthi
3
35.0

Hi My Name is Ananthi 25
Hi_My_Name_is_Ananthi
Hi My Name is Ananthi@@Next Line
Hi My Name is Ananthi
Next Line

Hi_My_Name_is_Ananthi@@
Next Line

**Working With Strings and input in Python**

In [ ]:
#Working With Strings and input in Python
print("Python is Easy to Learn")
print('Easy to Use')
print('I "Personally" am loving it a lot')
print("It's easy to include 'single quotes' also")

#This is a comment
#Input From User
Variable="Your Name is:"
name="Ananthi"
print(Variable+" "+name)

Variable="Your Name is:"
name=input("Enter Your name: ")
print(Variable+" "+name)

Python is Easy to Learn
Easy to Use
I "Personally" am loving it a lot
It's easy to include 'single quotes' also
Your Name is: Ananthi
Enter Your name: A
Your Name is: A

**Escape Sequence or Characters**

In [ ]:
#Escape Sequence or Characters
#\n gives you new line
string1="I am a\nstring\nin several lines"
print(string1)

#\t gives few empty space(tabs)
string2="1.oil\t 2.Flour\t 3.Bake\t 4.Oven\n"
print(string2)

#\',\",'''
print('Donald Trump said "It\'s going to be huge".')     #single quote inside single quote
print("Donald Trump said \"It's going to be huge\".")    #double quotes inside double quotes
print('''Donald Trump said "It's going to be huge".\n''')  #Triple Quotes-No Problem for any quotes

string3="""I am a string
which is spanning
over several lines"""   #only triple quotes consider several lines
print(string3)

string4="""I am a string \
which is spanning \
over several lines"""   #\ - only in one line
print(string4)

I am a
string
in several lines
1.oil	 2.Flour	 3.Bake	 4.Oven

Donald Trump said "It's going to be huge".
Donald Trump said "It's going to be huge".
Donald Trump said "It's going to be huge".

I am a string
which is spanning
over several lines
I am a string which is spanning over several lines

In [ ]:
#C:\Users\temp\new_course.pdf
print("C:\\Users\temp\new_course.pdf") #use \ for ignore all escape sequence(\t,\n)

print(r"C:\Users\temp\new_course.pdf")   #r-raw string

#\a gives you a bell sound
print("Hello\b\bWorld")   #\b-gives you one step back(ASCII Backspace)

print("Hello\fWorld")    #\f-gives you next page of the program(ASCII Formfeed(early python now its removed))

print("Helloooo\rWorld")    #Carriage Return

print("Hello\vWorld")     #\v-vertical tab-not now in python 
#output- Hello
#            World

print("\110\145\154\154\157") #\ooo-octal value of 110 is H in ASCII Table

print("\x48\x65\x6c\x6f\x20")  #\xhh-Hexa decimal, hh=value,x followed by value

#\uxxxx
#\Uxxxxxxxx-unicode -advanced

C:\Users	emp
ew_course.pdf
C:\Users\temp\new_course.pdf
HelloWorld
HelloWorld
World
HelloWorld
Hello
Helo

**Variables and Data Types**

In [ ]:
#Valid Variable Names
myvar="Ananthi"
my_var="Ananthi"
_my_var="Ananthi"
myVar="Ananthi"
MYVAR='Ananthi'
myvar2='Ananthi'

#Invalid Variable Names
#2myvar='ananthi'
#my-var="Ananthi"
#my var="Ananthi"

In [ ]:
#type-Identify variable type
string_1="Ananthi"
print(type(string_1))

print(type("Ananthi"))
print(type(10))

<class 'str'>
<class 'str'>
<class 'int'>

In [ ]:
x="Python"
y="is"
z="Best"
#these are of type 'str' so we will print like this
print(x+" "+y+" "+z)
print(x)
#or assign like this
x1,y1,z1="Pythonn","iss","besttt" 
print(x1+" "+y1+" "+z1)

#x,y,z="python","is",7--error (typeerror)

print(x+" is easy")   #assign values

a,b="me","1"
c=a+b         #concatenate strings
print(c)

#isinstance(),issubclass()-Works in subclass like int+float is working 
#numeric data Types are:int,float,decimal,complex are working together
#string data types str

Python is Best
Python
Pythonn iss besttt
Python is easy
me1

Data Types in python:


*   Numeric(int,float,complex)
*   Iterator
*   Sequence(which are also iterators)
*   Mapping
*   File
*   Class
*   Exception

In [ ]:
#numeric 
a=12
b=3
print(a*b)

36

In [ ]:
a=12
b=3
for i in range(0,6):
     print(i)
print("empty space")
for i in range(3,6):
  print(i)
print("empty space")
for i in range(0,a//b):
  print(i)

0
1
2
3
4
5
empty space
3
4
5
empty space
0
1
2
3

In [ ]:
#Str Datatype in Python(Indexing)
string="Python is Best"
print(string[0],'\n')

#print tyn
print(string[2])
print(string[1])
print(string[5],'\n')

#print all in Loop
for i in string:
  print(i)
print()

#Reverse
print(string[-1]) 
print()    

#print tyn-total letters 14-> so if you want print tyn include -14 for all
print(string[2-14])
print(string[1-14])
print(string[5-14],'\n')

#if string is empty there is no indexing at all-Ex: str=""--->print(str[0])--->It will show an error because specifically asking index

P

t
y
n

P
y
t
h
o
n

i
s

B
e
s
t

t

t
y
n

**Basic Python Questions**


1.   Byte code gets compiled by_____
     Ans: Virtual Machine
2.   A variable that refers to memory that has been freed is called a ___ Ans: Dangling Pointer
3.  Python was released in which year?Ans: 1991
4. Who is known as the father of Python programming language? Ans: Guido van Rossum
5. Files that store python source code are extended with____Ans: py
6. Which of the following is not an application of Python? Ans: Python is used for Machine Learning, Graphical User Interface as well as Web Development.
7. Which language is the predecessor of Python? Ans: ABC
8. What converts binary instructions into specific machine instruction?Ans: Virtual Machine
9. Which implementation of Python uses Common Runtime Machine?Ans: Iron Python
10. Converting high level language into low level language is called____Ans: Compiling
11. ______is the native instruction code for Python Virtual Machine.Ans: Byte Code
12. Which of the following is not a valid python version?Ans: PyPyPython
13. Which of the following is not a general purpose programming language: Ans: Prolog is used for developing complex applications mainly in AI.
14. Which code is the same for all machines?Ans: Bytecode is same in all machines
15. Which language uses bytecode to execute the program.Ans: Java
16. __________is a set of instructions that directly gets executed by the CPU.Ans: Machine Code
17. Which of the following is faster programming language:Ans: C++
18.  Which of the following programming languages we do not need to declare variable type:Ans: Python
19. Which of the following programming languages does not support object-oriented programming model:Ans: C Programming
20. Which of the following programming languages does not support pointers: Ans: Python

1. Python is named after _____Ans: monty python flying circus (BBC comedy series from the 1970s)
2. Which of the following is statically typed?Ans: C++(Statically typed is a programming language characteristic in which variable types are explicitly declared and thus are determined at compile time.)
3. Which of the following programming languages has simpler syntax?Ans: Python(In Python programming language we don't need to initialize variable type, nothing is required to end the line.)
4. Which of the following types of languages are slower?Ans:Interpreter Programming Language(In Interpreter Programming Languages it must analyze each statement in the program each time it is executed and then perform the desired action)
5. Is Python case sensitive when dealing with identifiers? Ans: Yes
6. What is the maximum possible length of an identifier? Ans: 79 Characters
7. Which of the following is not a keyword?Pass,non local,assert,eval
Ans:eval
8. All keywords in Python are in ___Ans:Python can have keywords as lowercase, uppercase as well as capitalized.
9. Which of the following are not a parameter to the built-in print function in Python?file,delimiter,sep,end Ans:delimiter
10. What will be the output of following code:
>>> print (r"\nprep/ninsta") Ans:\nprep/ninsta
11. What will be the output of following code:
print(0xE + 0xF + 0xD) Ans: 42
12. What will be the output of the following code?
>>> print("Hello {name1}{name2}".format(name1='dear', name2='prepster'))
Ans: Hello dear prepster
13. What will be the output of the following Python code?
>>> print(“The sum of {0:b} and {1:x} is {2:o}”.format(12, 1, 10))
Ans:The sum of 1100 is 1 is 12
14. What will be the output of the following Python code?
>>> print("Hello {0!r} and {0!s}".format('Prep', 'insta'))
Ans: Hello 'Prep'Prep
15. What will be the output of the following Python code?
>>> print('{:,}'.format('2221114443'))
Ans: error
16. What will be the output of the following Python code?
>>> print('{:#}'.format(2221114443))
Ans:2221114443
17. What will be the output of the following Python code?
>>> print('{:$}'.format(4445552221))
Ans:error
18.  What will be the output of the following Python code?
>>> print("Hello {0[0]} and {0[1]}".format(('prep', 'insta')))
Ans: Hello prep and insta

**Slicing in Python**

In [ ]:
string="Python Course"
print(string[0:4])
print(string[5:11])
print(string[:6])
print(string[:13])
print(string[7:])

print(string[:6]+string[6:])

print(string[-1])
print(string[-5:2])   #cannot print in backward direction
print(string[-5:-2])  #only in Forward direction
print(string[-5:11])

Pyth
n Cour
Python
Python Course
Course
Python Course
e

our
our

In [ ]:
#Step Slicing
string="Python Course"
print(string[0:13])

print(string[0:13:2])    #var[start:end:step]---> step=2 means printing first letter followed by every second letter 
print(string[0:13:4])    #every 4th letter
print()

number="1,234,786,903,349,675,287"
print(number[1::4]) 
number1="1,234:786;903 349:675;287"
sep=number1[1::4]
print(sep)

values="".join(char if char not in sep else " " for char in number1).split()      #print characters only
print([int(val) for val in values])

Python Course
Pto ore
Pooe

,,,,,,
,:; :;
[1, 234, 786, 903, 349, 675, 287]

In [ ]:
#Backward Slicing
alphabets="abcdefghijklmnopqrstuvwxyz"
print(alphabets[0:26])
print(alphabets[0:26:2])

#Reverse
print(alphabets[0:26:-1])  #doesn't work

print(alphabets[25:0:-1])  #starting from 25(Last letter),ending in 0(a),-1 is backward direction
print(alphabets[25::-1])
print(alphabets[26::-2]) 
print(alphabets[-1::-1]) 

print(len(alphabets))
print(len(alphabets[0:20]))

abcdefghijklmnopqrstuvwxyz
acegikmoqsuwy

zyxwvutsrqponmlkjihgfedcb
zyxwvutsrqponmlkjihgfedcba
zxvtrpnljhfdb
zyxwvutsrqponmlkjihgfedcba
26
20

In [ ]:
#Important Slicing 
alphabets="abcdefghijklmnopqrstuvwxyz"
#mno
#onm
#ehkn
#nkhe
#abcdefgh
#last 20 characters in backward direction 
#first 20 characters

#mno
print(alphabets[12:15])
print(alphabets[-14:-11])
print()
#onm
print(alphabets[14:11:-1]) 
print(alphabets[-12:-15:-1])
print(alphabets[-12:11:-1])
print(alphabets[14:-15:-1])
print()
#ehkn
print(alphabets[4:15:3])
print(alphabets[-22:-10:3])
print()
#nkhe
print(alphabets[13:3:-3])
print(alphabets[-13:3:-3])
print(alphabets[-13:-23:-3])
print()
#abcdefgh
print(alphabets[0:8])
print(alphabets[-26:8])
print(alphabets[-26:-18])
print()
#last 20
print(alphabets[26:-21:-1])
print(alphabets[-1:-21:-1])
print(alphabets[25:5:-1])
print()
#first 20
print(alphabets[:20]) 
print()
#length
print(len(alphabets))
print(len(alphabets[0:20]))

mno
mno

onm
onm
onm
onm

ehkn
ehkn

nkhe
nkhe
nkhe

abcdefgh
abcdefgh
abcdefgh

zyxwvutsrqponmlkjihg
zyxwvutsrqponmlkjihg
zyxwvutsrqponmlkjihg

abcdefghijklmnopqrst

26
20

**Slicing Practice Questions**
1. d={'a':5,'b':3,'c':2}
s=""
for i in d.keys():
    s+=i*d[i]
print(s[3::-2])
Ans:aa
2. What will be the output of the following program?
variable= "Preparation in PrepInsta"
print(variable[23:0:-1])
Ans:atsnIperP ni noitaraper
3. If x=[0,1,2,3,4,5,6,7] and y=x[1:-1], what does y contain?
Ans: [1,2,3,4,5,6]
4. If x=range(10) and y=x[::3],what does y contain?
Ans: [0,3,6,9]
5. String ='ASTRING'
s=slice(-1,-12,-2)
print(String[s])
Ans:GITA
6. s="malayalam"
r=s[::2][::-1]
print(r)
Ans:mlylm
7. n1 = ['chocolate', 'biscuit', 'icecream']
n2 = [n.title() for n in n1]
print(n2[2][0])
Ans:i
8. l=[3,5,7,9]
l.append([1,2,3,4])
print(len(l[2:]))
Ans:3
9. l=[3,4,3,1,2,3,7,1,7,5]
z=sorted(l,key=l.count,reverse=True)
print(z[1:4])
Ans:[3,3,1]
10. def take_second(e):
    return e[1]
l = [(2, 2), (3, 4), (4, 1), (1, 3)]
sl = sorted(l, key=take_second)
print(sl[3][1])
Ans: 4
11. l=["abab","bbbbb","cbbbbab"]
nl=[]
for i in l:
    nl.extend(i.split("b"))
s=list(set(nl))
print(s[1:])
Ans: ['c','a']
12. l=["a","b","c"]
z=l*2
print(z[1:2])
Ans:['b']
13. l=['x','y','z']
s=""
for i in l:
    s+=i*((l.index(i)+1)**2)
print(s[3:6:2])
Ans: yz
14. s="abababacacadc"
x=list(s)
z=sorted(x,key=x.count,reverse=True)
print(z[3:7])
Ans:['a','a','a','b']
15. a = ("John", "Charles", "Mike")
b = ("Jenny", "Christy", "Monica", "Vicky")
x = tuple(zip(a, b))
print(x[2][1])
Ans: "Monica"
16. l1 = ["eat","sleep","repeat"]
a=(list(enumerate(l1)))
print(a[1:2])
Ans:[(1,"sleep")]
17. What will be the output of the following program
numbers= "1,273,456,546,785,554"
print(numbers[1::4])
Ans: ,,,,,
18. What will be the output of the following program?

string1= "Prepinsta Prime"
print(string1[9-13])
Ans: r
19. What will be the output of the following program?
string1= "Preparation in Prepinsta"
print(string1[23::-3])
Ans: ane ire
20. What will be the output of the following program?

string1= "abcdefghijklmnopqrstuvwxyz"
print(string1[14::-3])
Ans: olifc

**String Operator**

In [ ]:
stringA=["Apple","Orange","Mango"]
print(stringA)
print(stringA[0])
print()

for i in stringA:
  print(i)

print(stringA[1][3])   #1st index 3rd char

stringB="I am"
stringC=" Ananthi"
print(stringB+stringC)

print(stringC*3)
print(stringC*(3+5))
print(stringC*3+" 5")

day="sunday"
print('day' in day)  #True
print('suny' in day)  #False  also its Case Sensitive
print('Day' in day)
print("Aug" in "August")

['Apple', 'Orange', 'Mango']
Apple

Apple
Orange
Mango
n
I am Ananthi
 Ananthi Ananthi Ananthi
 Ananthi Ananthi Ananthi Ananthi Ananthi Ananthi Ananthi Ananthi
 Ananthi Ananthi Ananthi 5
True
False
False
True

**String Replacement Fields**

In [17]:
weight=100
print("My Weight is "+str(weight)+" kgs")  #cannot add integer value inside string

print("My weight is {0} kgs".format(weight))  #like c-->%d,%f

print("We have {0} days in {1},{2},{3},{4},{5},{6},{7}".format(31,"Jan",'Mar','May','July','Aug','Oct','Dec'))

print("We have {0} days in Jan,Mar,May,July,Aug,Oct,Dec".format(31))

print("Jan:{2}, Feb:{0}, Mar:{2}, Apr:{1}, May:{2}, June:{1}, July:{2}, August:{2}, Sep:{1}, Oct:{2}, Nov:{1}, Dec:{2}".format(28,30,31))

print('''Jan:{2}
Feb:{0}
Mar:{2}
Apr:{1}
May:{2}
June:{1}
July:{2}
August:{2}
Sep:{1}
Oct:{2}
Nov:{1}
Dec:{2}'''.format(28,30,31)) #For print more beautiful

My Weight is 100 kgs
My weight is 100 kgs
We have 31 days in Jan,Mar,May,July,Aug,Oct,Dec
We have 31 days in Jan,Mar,May,July,Aug,Oct,Dec
Jan:31, Feb:28, Mar:31, Apr:30, May:31, June:30, July:31, August:31, Sep:30, Oct:31, Nov:30, Dec:31
Jan:31
Feb:28
Mar:31
Apr:30
May:31
June:30
July:31
August:31
Sep:30
Oct:31
Nov:30
Dec:31

**String Formatting**

In [23]:
for i in range(1,11):
  print("No.{0} squared is {1} and cubed is {2}".format(i,i**2,i**3))
print()

for i in range(1,11):
  print("No. {0:2} squared is {1:3} and cubed is {2:4}".format(i,i**2,i**3))   #here, 2,3,4 are string or character spaces for more readable
print()


#using < symbol we tell out editor to left align items and ^ symbol tell to middle align items. By default we have right align
for i in range(1,11):
  print("No. {0:2} squared is {1:<3} and cubed is {2:^4}".format(i,i**2,i**3))
print()

No.1 squared is 1 and cubed is 1
No.2 squared is 4 and cubed is 8
No.3 squared is 9 and cubed is 27
No.4 squared is 16 and cubed is 64
No.5 squared is 25 and cubed is 125
No.6 squared is 36 and cubed is 216
No.7 squared is 49 and cubed is 343
No.8 squared is 64 and cubed is 512
No.9 squared is 81 and cubed is 729
No.10 squared is 100 and cubed is 1000

No.  1 squared is   1 and cubed is    1
No.  2 squared is   4 and cubed is    8
No.  3 squared is   9 and cubed is   27
No.  4 squared is  16 and cubed is   64
No.  5 squared is  25 and cubed is  125
No.  6 squared is  36 and cubed is  216
No.  7 squared is  49 and cubed is  343
No.  8 squared is  64 and cubed is  512
No.  9 squared is  81 and cubed is  729
No. 10 squared is 100 and cubed is 1000

No.  1 squared is 1   and cubed is  1
No.  2 squared is 4   and cubed is  8
No.  3 squared is 9   and cubed is  27
No.  4 squared is 16  and cubed is  64
No.  5 squared is 25  and cubed is 125
No.  6 squared is 36  and cubed is 216
No.  7 squared is 49  and cubed is 343
No.  8 squared is 64  and cubed is 512
No.  9 squared is 81  and cubed is 729
No. 10 squared is 100 and cubed is 1000

**Precision in Python**

In [41]:
#By Default precision in Python after decimals is 15
print("{0}".format(22/7))
print()

print("{0:100}".format(22/7))
print("{0:<100}".format(22/7))
print("{0:0100}".format(22/7))  #imp-must fill it with zero

print(len("{0:100}".format(22/7)))

#if we use f then we mean after decimal points there must be 6 character after decimal
print("{0:100f}".format(22/7))

#after the decimal points
print("{0:.2f}".format(22/7))
print("{0:.8f}".format(22/7))

print("{0:100.2f}".format(22/7))
#Precision takes more importance than filled with
print("{0:3.6f}".format(22/7))

#The max decimal Precision in Python is 51 or 52 or 53 or 54
print("{0:.70f}".format(22/7))     #additional 20 values filled with 0's

3.142857142857143

                                                                                   3.142857142857143
3.142857142857143
000000000000000000000000000000000000000000000000000000000000000000000000000000000003.142857142857143
100
                                                                                            3.142857
3.14
3.14285714
                                                                                                3.14
3.142857
3.1428571428571427937015414499910548329353332519531250000000000000000000

**FStrings**

In [47]:
weight=80
print("My Weight is {0} kgs".format(weight))

#To Avoid print("My Weight is "+weight+"kgs")---->use FStrings
print(f"My Weight is {weight} kgs using fstring")
pi=22/7
print(f"The Value of Pi is: {pi:.50f}")

My Weight is 80 kgs
My Weight is 80 kgs using fstring
The Value of Pi is: 3.14285714285714279370154144999105483293533325195312

**String Interpolation(Python 2)**

In [57]:
#deprecated
#In C, using %c,%s,%d
weight=40
print("My Weight is: %d" %weight)

name="Ananthi"
print("I am %s and My Weight is: %d kgs" %(name,weight))

print("The value of pi is %.2f" %(22/7))

My Weight is: 40
I am Ananthi and My Weight is: 40 kgs
The value of pi is 3.14